* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* z-index: 0; */
  }

  #navbar {
    display: flex;
    background: rgba(200, 54, 54, 0.5);
    color: black;
    height: 50px;
  }

.activityAndItinerary {
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  z-index: 1;
  /* padding: 20px; */
  margin: 10px;
}

  .activity {
    background-color: rgba(255, 0, 0, 0.4);
    color: white;
    width: 200px;
    padding: 10px;
  }

  .itinerary {
    background: rgba(76, 175, 80, 0.3);
    color: white;
    width: 200px;
    padding: 10px;
  }

